<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alliums</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
    <h1>Alliums</h1>
    <p>Family includes garlic, onions, scallions, shallots, chives, leeks</p>
<ul>
    <li><b>Garlic</b>: studies show the main active compound allicin has blood thinning, antibacterial, antiviral,
        and anti-tumor growth properties. Any garlic in the store has high nutrient content.
        Hard-neck garlic (the top tip of the bulb is hard) has slightly more health benefits
        than soft-neck but is more expensive.</li>
    <ul>
        <li><u>Purchase</u> - bulbs should be firm to the touch, firmly encased in the white outer layer, & without signs of sprouting.</li>
        <li><u>Storage</u> - store garlic on the fridge shelf, where humidity is low & it is away from heat.</li>
		<li><u>Preparation</u> - allicin is created when the pre-protein comes into contact with a heat-sensitive enzyme,
            but the two molecules are separated in garlic. Cutting, smashing (most effective), or chewing
            brings these compounds into contact, but heat destroys the enzyme. To get garlic's health benefits, 
            wait at least 10 minutes after chopping the garlic before heating to allow maximum
            concentration of allicin to form!</li>  
	</ul>

    <li><b>Onions</b>: the main active compound is quercetin, which thins blood, inhibits tumor growth.
        Onions have been bred over time to be large, mild, and sweet, dramatically reducing phytonutrient content.
        Avoid purchasing "sweet" onions, such as Vidalia. The hottest onions are the ones that make
        you cry when cutting them, and can be yellow or red!</li>
	<ul>
        <li><u>Purchase</u> - fresh onions are firm with intact outer skin. Look for smaller onions,
            which have lower water content, less nutritional dilution, & greater nutrient content.</li>
		<li><u>Storage</u> - store onions in a cool, dark, moderately humid location outside of the fridge.</li>
		<li><u>Preparation</u> - heat does not damage the active compound quercetin, so no delay is needed
            between cutting & cooking. All methods of cooking except boiling increase quercetin content,
            while also making the onion taste much milder & sweeter (win/win).</li>
	</ul><br>

    <li><b>Shallots</b>: richer in nutrients than onions.</li>
	<ul>
        <li><u>Purchase</u> - fresh shallots have firm bulbs with tightly wrapped outer skin.</li>
		<li><u>Storage</u> - store in cool, dark location with good air circulation.</li>
	</ul><br>

    <li><b>Chives</b>: come in onion & garlic varieties. Garlic variety is very rich in nutrition b/c it is all
        green without a bulb. Eat quickly as nutrients are lost soon after refrigeration.</li>
	<ul>
        <li><u>Storage</u> - if storing for a few days place in microperforation bag.</li>
    </ul><br>

    <li><b>Scallions</b>: much more nutritious than white onions.
        Most nutrition is in the green stalk. Lose nutritional value quickly after storage.</li>
</ul>

</body>
</html>