<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artichoke</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
<h1><span style="color:green;">Artichoke</span></h1>
<p>Extremely high in antioxidants, fiber (8-10 grams in 1 medium). Contains silymarin & cynarin which are
    protective for the liver. Also acts as a probiotic due to inulin.</p>

<ul>
    <li><u>Purchase</u> - fresh artichoke is firm when squeezed.</li>
    <li><u>Storage</u> - b/c of a high respiration rate, they go bad quickly so buy fresh & eat within 2-3 days.</li>
    <li><u>Preparation</u> - cook by steaming (~50 minutes). First wash well, remove outer layer of leaves, and
        trim the stems to half an inch.</li>  
</ul>
</body>
</html>