<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asparagus</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
<h1><span style="color:green;">Asparagus</span></h1>
<p>Low GI, high in antioxidants.</p>

<ul>
    <li><u>Purchase</u> - look for dark green, shiny, <b>straight spears</b> with tightly closed tips of a green or purple
        color. The cut end of the stalk should be smooth & moist.</li>
    <li><u>Storage</u> - high respiration rate, so pick fresh & chill immediately.</li>
    <li><u>Preparation</u> - consume on the day of purchase. Steaming increases antioxidant value. Cooking is complete
        when the spear bends slightly when you hold it in the middle.</li>  
</ul>
</body>
</html>