<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Avocado</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
<h1><span style="color:green;">Avocado</span></h1>
<p>Fruit, not vegetable. Excellent source of vitamin E, folate, potassium, magnesium, antioxidants, monounsaturated
    fat, soluble fiber (6 grams in 1 medium). Hass avocados are the highest in antioxidants.</p>

<ul>
    <li><u>Purchase</u> - ripe when soft at the top but yielding only slightly in the middle (soft everywhere =
        over-ripe). For Hass avocados, the skin will turn nearly black when ripe.</li>
    <li><u>Storage</u> - can force ripen in paper bag (2-3 days) & speed process by adding a banana to the bag. Once ripe, store in
        the fridge for up to a day. To prevent an unused half from browning, keep the stone in, squirt with lemon juice,
        then store in airtight container or bag. Alternative is to store in container near chopped onions.</li>
    <li><u>Preparation</u> - excellent for salads b/c the fat increases BA of lutein & beta-carotene in the greens.</li>  
</ul>
</body>
</html>