<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bananas</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
<h1><span style="color:#cc9900;">Bananas & Plantains</span></h1>
<p>Cavendish is variety of sweet banana sold in grocery stores (only one in most), is one of the least nutritious
    fruits available, & has a very high GI (riper = higher GI). Benefits are 3.5 grams soluble fiber &
    potassium (but it isn't in the top 10 richest sources). Eliminate from menu.</p>

<p><u>Foods that have more potassium than bananas</u> - avocado, potato (regular & sweet), tomato,
    spinach & other greens, salmon, dried apricots, beans, dairy, squash (acorn).</p>

    <ul>
        <li><u>Purchase</u> - if you can find red bananas (turn black after ripening), try them instead.</li>
    </ul>
</body>
</html>