<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beets</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
<h1><span style="color:#660033;">Beets</span></h1>
<p>High in boron, which elevates testosterone markedly & vasodilates; low glycemic index, extremely high levels of
    antioxidants; can increase athletic performance. Red color comes from betalain, which has anti-tumor properties.</p>

<ul>
    <li><u>Purchase</u> - purchase the darkest red/purple beets, preferably with leaves on (fresher + higher nutrition).</li>
    <li><u>Storage</u> -  store leaves in microperforated bag, separate from roots, eat within 2 days.</li>
    <li><u>Preparation</u> - cook beats by steaming or roasting with the skin on.</li>
</ul>
</body>
</html>