<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Berries</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
<h1><span style="color:purple;">Berries</span></h1>

<ul>
    <li><b>Blueberries</b>: dark color given by anthocyanins. Blueberries are among the most nutritious of all fruits &
        vegetables, showing potential to fight cancer, regulate metabolism, improve mood, & fight dementia.</li>
    <ul>
        <li><u>Purchase</u> - look for smaller, darker berries (contain higher concentrations of anthocyanins). To buy
            fresh, avoid soft, moldy, leaking, or shriveled fruits.</li>
        <li><u>Storage</u> - berries spoil quickly so eat within the week. Store in crisper drawer. Flash frozen
            blueberries are nearly as nutritious as fresh ones. Thaw frozen blueberries in the microwave to preserve nutritional content.</li>
		<li><u>Preparation</u> - cooking most berries increases BA of the nutrients.</li>  
	</ul>

    <li><b>Blackberries</b>: excellent source of anthocyanins & fiber (8-10 grams per cup).</li>
    <ul>
        <li><u>Storage</u> - very short shelf life so eat soon after purchase, but frozen is almost as good as fresh.
            Thaw in microwave using defrost setting.</li>
		<li><u>Preparation</u> - cooking most berries increases BA of the nutrients.</li>  
	</ul>

    <li><b>Strawberries</b>: high in anthocyanins & vitamin C. Unlike peaches/avocados/bananas, strawberries do not
        ripen further after harvesting. Partially ripe fruit is lower in nutrition & tastes worse.</li>
    <ul>
        <li><u>Purchase</u> - to choose the best fruit, look for those that are bright red all over (no white)
            with a shiny red gloss & no signs of bruising.</li>
        <li><u>Storage</u> - store at room temperature (fruit becomes more aromatic & higher in nutrition), eat in 2-3 days.</li>
		<li><u>Preparation</u> - cooking most berries increases BA of the nutrients.</li>  
	</ul>

    <li><b>Cranberries</b>: high in anthocyanins. Potent antibacterial effects (help prevent UTI & PUD by preventing
        attachment of bacteria to cellular membranes).</li>
    <ul>
        <li><u>Purchase</u> - unsweetened cranberry juice is a good source of nutrition.</li>
        <li><u>Preparation</u> - cooking most berries increases BA of the nutrients.</li>  
	</ul>

    <li><b>Raspberries</b>: high in anthocyanins & soluble fiber (6 grams per cup).</li>
    <ul>
        <li><u>Purchase</u> - black raspberries are even more nutritious than red, promising data that they help inhibit spread of CRC.</li>
        <li><u>Storage</u> - frozen raspberries are almost as nutritious as fresh.</li>
		<li><u>Preparation</u> - cooking most berries increases BA of the nutrients.</li>  
	</ul>
</ul>
</body>
</html>