<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrots</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
<h1><span style="color:orange;">Carrots</span></h1>

<ul>
    <li><u>Purchase</u> - avoid baby carrots (the outer skin, which has been disposed of, is much more nutritious than
        the fleshy interior). The freshest carrots are those with the green top still attached.</li>
    <li><u>Storage</u> - store carrots <em>after cutting the top off</em> to preserve moisture.</li>
    <li><u>Preparation</u> - carrots are more nutritious cooked b/c heat increases beta-carotene BA, however boiling
        causes leeching so steaming or sautéing are preferable. Also, chop the carrots after 
        cooking to maintain highest nutrient content. Eating carrots with fat is best since vitamin A
        is fat soluble. If you can find them, buy purple carrots which are high in anthocyanins.</li>  
</ul>
</body>
</html>