<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Citrus Fruits</title>
</head>

<body>
<h1><span style="color:orange;">Citrus Fruits</span></h1>
<p>Family includes oranges, mandarins, grapefruit, lemons/limes.</p>

<ul>
    <li>Contain much more nutrition than just vitamin C. Citrus fruits do <b>not</b> ripen after harvest, so buy ripe.</li><br>

    <li><b>Oranges</b>: often picked immature & force ripened with ethylene, which turns the skin orange but
        leaves the flesh acidic & less sweet.</li>
    <ul>
        <li><u>Purchase</u> - to purchase fresh, first observe the collection. If any oranges have green or lighter orange skin,
            they have not been "degreened" (a chemical process that changes the color of the
            orange without ripening it) so just buy the orange ones. If all of them are orange, your best chance of buying ripe is
            to get the largest fruit (size correlates with ripeness). Organic oranges have not been degreened. US oranges hit
            the market in October - buying early makes it more likely they have been treated; if you buy in December,
            most of the fruit is ripe. <b>Navel Oranges</b> (so named b/c of the bump on one side of the fruit,
            which is a failed twin) are an excellent source of vitamin C & fiber (3 grams per orange), and have a low GI.
            <b>Cara Cara</b> (red navel) oranges are more nutritious than Washington navel (red color comes from lycopene).
            <b>Blood oranges</b> are even better (color comes from anthocyanins); peak season is January - April, buy them if you can find them.
            <b>Tangelos</b> are also more nutritious than navel oranges.</li>
        <li><u>Storage</u> - since citrus fruits don't ripen, store them in the fridge with the bag off to prevent mold.</li>
		<li><u>Preparation</u> - the most nutritious part is the pith, the spongy white just beneath the skin;
            leave as much as you can when peeling.</li>  
	</ul>

    <li><b>Mandarins</b>: a family of citrus fruits including tangerines & clementines (seedless tangerines).</li><br>

    <li><b>Grapefruit</b>: deepest red grapefruit is high in anthocyanins.</li>
    <ul>
        <li><u>Purchase</u> - to buy fresh, look for grapefruit after December. Purchase fruit that has no green in the
            skin; is firm, large, & heavy for its size; and without bruising.</li>  
	</ul>

    <li><b>Lemons & Limes</b>: high in vitamin C, flavonones (cancer fighting compounds), & increase BA of nutrients in other foods.</li>
    <ul>
        <li><u>Purchase</u> - fresh lemons are firm, not hard, with glossy skin & no soft spots; skin should be rich
            yellow without trace of green. Juiciest fruits are heavy for their size. Ripe limes are yellow, not green;
            the most immature limes are the darkest green ones! Buy organic if you plan to consume the peel.</li>
        <li><u>Storage</u> - preserve in the fridge outside of the bag to prevent mold growth, which citrus is susceptible to.</li>
		<li><u>Preparation</u> - the peels of all citrus plants are more nutritious than the flesh, but don't consume
            unless organic. Zest the peels & add to salads, baked goods, make into marmalade, etc.</li>  
	</ul>
</ul>
</body>
</html>