<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Corn</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
<h1><span style="color:#cccc00;">Corn</span></h1>
<p>When purchasing, the darker yellow it is the better (yellow >> white corn)
    b/c it has much higher concentrations of beta-carotene, lutein, & zeaxanthin.</p>

<ul>
    <li><u>Purchase</u> - in the supermarket, avoid super-sweet corn & choose sweet-corn or old fashioned (heirloom)
        sweet corn varieties instead,
        which have less sugar; note that the sweetest varieties have the longest storage times, and
        less sweet varieties must be consumed soon after purchase (& be refrigerated all the while). Corn cobs
        with kernels of 2 colors are often sh2/se (mixed) corn with the highest sugar content of
        all, so look for unicolor cobs. When purchasing corn meal, look for whole grain yellow, or any
        colored variety (blue, red, purple) which are much higher in nutrients; buy only in small quantities.</li>
    <li><u>Storage</u> - keep refrigerated & use within a few weeks b/c whole grain meal goes bad more quickly.</li>
    <li><u>Preparation</u> - boiling is the worst (dissolves water soluble nutrients);
        microwaving & grilling (as we already do) is best.</li>
</ul>

<h2><span style="color:#1f1f7a;">Colorful Cornbread Recipe</span></h2>
Prep Time: 15 - 20 minutes  |  Cook Time: 20 - 15 minutes  |  Yield: 6 servings<br><br>
<u>Ingredients</u><br>
1 cup purple, red, or blue whole-grain cornmeal<br>
1 cup all-purpose flour<br>
2 teaspoons baking powder<br>
1/2 teaspoon baking soda<br>
1/2 teaspoon salt<br>
2 large eggs<br>
1/3 cup honey<br>
3 tablespoons melted, unsalted butter<br>
2/3 cup plain yogurt<br>
2/3 cup whole milk<br><br>

<u>Preparation</u><br>
Preheat oven to 425 degrees. Grease an 8" or 9" baking pan. Combine the dry ingredients in a mixing bowl.
Using a spoon, make a well in the center. In a separate bowl, whisk together the
remaining (wet) ingredients until thoroughly combined, then pour the liquid into the well & stir briefly until just combined.
Pour the batter into the prepared pan & put it on the middle shelf of the oven.
Bake 20 - 25 minutes or until the top is golden brown and the cornbread
springs back when you touch it in the middle. Cool lightly & serve warm.

</body>
</html>