<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crucifers</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
<h1><span style="color:green;">Cruciferous Vegetables</span></h1>
<p>Family includes arugula, broccoli, Brussels sprouts, cabbage, cauliflower, kale, radish, turnips</p>

<ul>
    <li>Modern varieties are same as wild ancestors in terms of nutritional content.
        Glucosinolates are active compound (highest in kale & Brussels sprouts), but also cause bitterness.</li><br>

    <li><b>Broccoli</b>:</li>
    <ul>
        <li><u>Purchase</u> - to purchase fresh, buy whole heads & look for dark green crowns, firm green/smooth stems.</li>
        <li><u>Storage</u> - chill immediately after bringing home, eat within a day or two.</li>
		<li><u>Preparation</u> - steaming & sautéing in garlic/olive oil are the most effective ways to cook broccoli.</li>  
	</ul>

    <li><b>Brussels Sprouts</b>:</li>
    <ul>
        <li><u>Purchase</u> - to buy fresh, look for bright green sprouts with tightly wrapped leaves.</li>
        <li><u>Storage</u> - chill immediately after coming home.</li>
		<li><u>Preparation</u> - steam, roast, or sauté but remember they become more bitter & soggier the longer they cook.</li>  
	</ul>

    <li><b>Cabbage</b>: red > green.</li>
    <ul>
        <li><u>Purchase</u> - look for compact heads that are firm & heavy.</li>
        <li><u>Storage</u> - keeps for a long time in the fridge.</li>
	</ul><br>

    <li><b>Cauliflower</b>: superior to cabbage. Purple > green > white.</li>
    <ul>
        <li><u>Purchase</u> - look for heads without spots or bruises.</li>
        <li><u>Storage</u> - keeps for long time in fridge.</li>
		<li><u>Preparation</u> - steam or sauté.</li>  
	</ul>

    <li><b>Kale</b>: the best of the crucifers. Purple > green leaves.</li>
    <ul>
        <li><u>Preparation</u> -  most nutritious when eaten raw as salad or sauteed in olive oil or baked at
            325 degrees into chips (coated with olive oil & salt).</li>  
	</ul>

</ul>
</body>
</html>