<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grapes</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
<h1><span style="color:black;">Grapes, Raisins, & Currants</span></h1>
<p>Raisins = dried grapes.</p>

    <ul>
        <li><u>Purchase</u> - green grapes lack anthocyanins (red & black are much more nutritious). Grapes do not 
            ripen after harvesting, so purchase ripe. Some grapes are artificially force ripened with
            gibberellic acid so look for "vine ripened" grapes. Concord grapes (used in Welch grape juice)
            are even more nutritious than the much more expensive Acai Berry & may slow memory loss,
            improve blood vessels, slow cancer. Grapes should be plump & firm; <b>stems</b> (the best indicator of ripeness) should
            be bright green, flexible, and show no signs of wither; reject bags with loose grapes. Buy organic.
            Gold & black raisins both come from Thompson raisins (least nutritious variety), but gold has
            been sprayed with SO2 which preserves nutrients. Currants are a superior option to raisins.</li>
        <li><u>Storage</u> - refrigerate immediately in microperforated bag. Rinse well, but only the portion you
            plan to eat, just before eating & not after as moisture speeds decay.</li>
		<li><u>Preparation</u> - good combination is to eat black grape + feta cheese + small leaf of mint.</li>  
	</ul>
</body>
</html>