<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopping Guide</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>

<hgroup><h1>Grocery Shopping Guide</h1></hgroup>

<h2><u>Vegetables</u></h2>
<ul>
    <li><a href="alliums.html">Alliums</a></li>
    <li><a href="salad-greens.html">Salad Greens</a></li>
    <li><a href="crucifers.html">Crucifers</a></li>
    <li><a href="corn.html">Corn</a></li>
    <li><a href="potatoes.html">Potatoes (Regular + Sweet)</a></li>
    <li><a href="tomatoes.html">Tomatoes</a></li>
    <li><a href="carrots.html">Carrots</a></li>
    <li><a href="avocado.html">Avocado</a></li>
    <li><a href="legumes.html">Legumes</a></li>
    <li><a href="asparagus.html">Asparagus</a></li>
    <li><a href="artichoke.html">Artichoke</a></li>
    <li><a href="beets.html">Beets</a></li>
</ul>

<h2><u>Fruits</u></h2>
<ul>
    <li><a href="citrus.html">Citrus</a></li>
    <li><a href="berries.html">Berries</a></li>
    <li><a href="stone-fruits.html">Stone Fruits</a></li>
    <li><a href="apples.html">Apples</a></li>
    <li><a href="grapes.html">Grapes & Raisins</a></li>
    <li><a href="bananas.html">Bananas & Plantains</a></li>
    <li><a href="pineapple.html">Pineapple</a></li>
    <li><a href="mango.html">Mango</a></li>
    <li><a href="watermelon.html">Watermelon</a></li>
</ul>

</body>
</html>
