<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Legumes</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
<h1><span style="color:brown;">Legumes</span></h1>
<p>Family includes beans, peas, lentils</p>

<ul>
    <li>Fresh > frozen</li>
    <li>Dried lentils (such as those used to make dal) are very high in antioxidants.</li>
    <li>The best way to preserve the nutrients while cooking is to steam or pressure cook.</li>
</ul>

</body>
</html>