<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mango</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
<h1><span style="color:orange;">Mango</span></h1>
<p>5x more vitamin C than oranges, good source of fiber.</p>

    <ul>
        <li><u>Purchase</u> - aroma is best indicator of ripeness, fruit should have distinctive smell without any hint
            of ammonia (signal that it is overripe), and a slight give when squeezed. Continues to ripen at room
            temperature after harvest.</li>
        <li><u>Storage</u> - once ripe store in crisper drawer of fridge to prevent over-ripening.</li>
	</ul>
</body>
</html>