<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pineapple</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
<h1><span style="color:#cc9900;">Pineapple</span></h1>
<p>Low in nutrition. Does not ripen further after harvesting.</p>

    <ul>
        <li><u>Purchase</u> - <b>extra sweet</b> varieties are actually more nutritious than other varieties. To buy ripe,
            look for crown leaves that are deep green in color with no signs of fading or browning.</li>
        <li><u>Storage</u> - once ripe store in crisper drawer of fridge to prevent over-ripening.</li>  
	</ul>
</body>
</html>