<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Potatoes</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
<h1><span style="color:brown;">Potatoes</span></h1>

<ul>
    <li><b>Regular Potatoes</b>: skins are the most nutritious part (antioxidants), but potatoes generally are high in
        pesticide content & skins are most exposed; solution - buy organic potatoes & eat skin on.</li>
    <ul>
        <li><u>Purchase</u> - buy organic to reduce pesticide exposure. Of modern varieties, Russet is highest in
            nutritional content but also has the highest glycemic index (although colorful potatoes are far superior).</li>
        <li><u>Storage</u> - store "new" potatoes (a type of potato w/ lower GI than regular "old" potatoes) in fridge
            b/c of rapid spoiling. Keep old potatoes in cool, dark area.</li>
		<li><u>Preparation</u> - to reduce GI of potatoes: cook, then chill overnight, before reheating & eating;
            this modifies the starch into a less easily digestible form.
            Additionally, cooking potatoes in fat slows digestion. Consume with skin on.</li>  
	</ul>

    <li><b>Sweet Potatoes</b>: much lower GI than normal potatoes (45 vs 75-100), richer in antioxidants.</li>
    <ul>
        <li><u>Purchase</u> - choose varieties with the darkest skin/flesh (e.g. yams, which are a variety of sweet potato).</li>
        <li><u>Preparation</u> - cook by roasting or baking, which doubles antioxidant value (don't boil).
            Consume the skin with the flesh.</li>  
	</ul>
</ul>

</body>
</html>