<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salad Greens</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
<h1><span style="color: green;">Salad Greens</span></h1>

<ul>
    <li>As a general rule, the most intensely colored salad greens are the most nutritious. Red, purple, or
        reddish-brown vegetables are most nutritious: they contain anthocyanins (an antioxidant that gives blueberries
        & strawberries their color). Dark greens are next best: high in lutein, another
        antioxidant & anti-inflammatory. Light green leaves (lettuce) have the least nutrition.</li>
    <li>Arrangement of leaves is another important characteristic - tightly wrapped leaves (lettuce) are low in
        nutrients, loose leaves are high in nutrients. This has to do with exposure to sun - loose leaves are exposed
        to more sunlight (& therefore UV radiation), which the plant fights by manufacturing antioxidants.</li>
    <li>To balance bitterness from these greens, use avocado or a dash of honey in the balsamic vinaigrette.</li>
    <li><u>Salad Dressing</u>: eating salad with fat greatly increases BA of plant nutrients (fat soluble vitamins).
        Extra virgin olive oil is best, unfiltered > filtered (greater antioxidant content, longer storage time).
        Store the oil like wine in a cool, dark location to prevent consumption of antioxidants by light,
        oxygen, & heat. Pair oil with either balsamic vinaigrette or simple lemon juice.</li><br>

    <li><b>Fresh Lettuce</b>: studies show the main active compound allicin has blood thinning, antibacterial, antiviral,
        and anti-tumor growth properties. Any garlic in the store has high nutrient content.
        Hard-neck garlic (the top tip of the bulb is hard) has slightly more health benefits
        than soft-neck but is more expensive.</li>
    <ul>
        <li><u>Purchase</u> - to buy fresh - whole heads are fresher than pre-cut leaves; look for
            heads with crisp leaves, without signs of wilting or
            yellowing. Heavier heads = more moisture retained, an indicator of freshness.</li>
        <li><u>Storage</u> - to preserve freshness & nutrition peel the leaves off the head, wash & soak under very cold water for
            10 minutes (allowing moisture to saturate the leaf), then dry the surface
            of the leaves (external moisture hastens decay). Tearing up leaves before storage
            reduces shelf life (eat within 2 days) but increases antioxidant concentration
            (the insult causes the plant to increase production). Store in a re-sealable bag, squeeze out air,
            then poke 20 evenly spaced holes with a pin, which allow enough oxygen to reach to
            leaf to keep it alive, but not so much that excess respiration occurs.</li>
	</ul><br>

    <li><b>Arugula</b>: rich in glucosinolates (antioxidant).</li>
    <ul>
        <li><u>Storage</u> - store using microperforation technique.</li>
        <li><u>Preparation</u> - most nutritious when eaten raw in salad.</li>
    </ul><br>

    <li><b>Spinach</b>: rich in lutein.</li>
    <ul>
        <li><u>Purchase</u> - buy whole bunches of fresh spinach rather than bagged.</li>
        <li><u>Storage</u> - microperforated bag.</li>
		<li><u>Preparation</u> - steam instead of boiling.</li>  
	</ul>
    <li>Other great salad options - radicchio, endives, artichoke hearts, cherry tomatoes, sprouts, & bell peppers (of any color).</li>
</ul>

<h2><span style="color: #cc9900;">Honey Mustard Vinaigrette Recipe</span></h2>
Prep Time: 5 - 10 minutes  |  Yield: 1.5 cups<br><br>

<u>Ingredients</u>
<br>1/4 cup balsamic vinegar
<br>1-2 tablespoons freshly squeezed lemon/lime juice
<br>1 tablespoon honey
<br>1-2 garlic cloves (minced or pushed through press)
<br>1 tablespoon prepared mustard or 1 teaspoon powdered mustard
<br>1/4 teaspoon salt
<br>Freshly ground black pepper (to taste)
<br>1 cup extra virgin olive oil, preferably unfiltered<br><br>

<u>Preparation</u>
<br>Combine all ingredients except the oil & mix until well blended with a spoor or whisk or in a food
processor (on medium high). Add oil in a thin drizzle, whisking constantly.

</body>
</html>