<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salad Greens</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
<h1>Salad Greens</h1>

<ul>
    <li></li>
    <li></li>
    <li></li>
    <li><b>Garlic</b>: studies show the main active compound allicin has blood thinning, antibacterial, antiviral,
        and anti-tumor growth properties. Any garlic in the store has high nutrient content.
        Hard-neck garlic (the top tip of the bulb is hard) has slightly more health benefits
        than soft-neck but is more expensive.</li>
    <ul>
        <li><u>Purchase</u> - bulbs should be firm to the touch, firmly encased in the white outer layer, & without signs of sprouting.</li>
        <li><u>Storage</u> - store garlic on the fridge shelf, where humidity is low & it is away from heat.</li>
		<li><u>Preparation</u> - allicin is created when the pre-protein comes into contact with a heat-sensitive enzyme,
            but the two molecules are separated in garlic. Cutting, smashing (most effective), or chewing
            brings these compounds into contact, but heat destroys the enzyme. To get garlic's health benefits, 
            wait at least 10 minutes after chopping the garlic before heating to allow maximum
            concentration of allicin to form!</li>  
	</ul>
    <li><b>Garlic</b>: studies show the main active compound allicin has blood thinning, antibacterial, antiviral,
        and anti-tumor growth properties. Any garlic in the store has high nutrient content.
        Hard-neck garlic (the top tip of the bulb is hard) has slightly more health benefits
        than soft-neck but is more expensive.</li>
    <ul>
        <li><u>Purchase</u> - bulbs should be firm to the touch, firmly encased in the white outer layer, & without signs of sprouting.</li>
        <li><u>Storage</u> - store garlic on the fridge shelf, where humidity is low & it is away from heat.</li>
		<li><u>Preparation</u> - allicin is created when the pre-protein comes into contact with a heat-sensitive enzyme,
            but the two molecules are separated in garlic. Cutting, smashing (most effective), or chewing
            brings these compounds into contact, but heat destroys the enzyme. To get garlic's health benefits, 
            wait at least 10 minutes after chopping the garlic before heating to allow maximum
            concentration of allicin to form!</li>  
	</ul>
    <li><b>Garlic</b>: studies show the main active compound allicin has blood thinning, antibacterial, antiviral,
        and anti-tumor growth properties. Any garlic in the store has high nutrient content.
        Hard-neck garlic (the top tip of the bulb is hard) has slightly more health benefits
        than soft-neck but is more expensive.</li>
    <ul>
        <li><u>Purchase</u> - bulbs should be firm to the touch, firmly encased in the white outer layer, & without signs of sprouting.</li>
        <li><u>Storage</u> - store garlic on the fridge shelf, where humidity is low & it is away from heat.</li>
		<li><u>Preparation</u> - allicin is created when the pre-protein comes into contact with a heat-sensitive enzyme,
            but the two molecules are separated in garlic. Cutting, smashing (most effective), or chewing
            brings these compounds into contact, but heat destroys the enzyme. To get garlic's health benefits, 
            wait at least 10 minutes after chopping the garlic before heating to allow maximum
            concentration of allicin to form!</li>  
	</ul>
    <li></li>
    <li></li>
</ul>

<h2>Honey Mustard Vinaigrette Recipe</h2>
Prep Time: 5 - 10 minutes  |  Yield: 1.5 cups<br><br>

<u>Ingredients</u>
<br>1/4 cup balsamic vinegar
<br>1-2 tablespoons freshly squeezed lemon/lime juice
<br>1 tablespoon honey
<br>1-2 garlic cloves (minced or pushed through press)
<br>1 tablespoon prepared mustard or 1 teaspoon powdered mustard
<br>1/4 teaspoon salt
<br>Freshly ground black pepper (to taste)
<br>1 cup extra virgin olive oil, preferably unfiltered<br><br>

<u>Preparation</u>
<br>Combine all ingredients except the oil & mix until well blended with a spoor or whisk or in a food
processor (on medium high). Add oil in a thin drizzle, whisking constantly.

</body>
</html>