<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stone Fruits</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
<h1><span style="color:orange;">Stone Fruits</span></h1>
<p>Family includes peaches, nectarines, apricots, plums, cherries.</p>

<ul>
    <li>Characterized by soft flesh with a hard pit.</li><br>

    <li><b>Peaches & Nectarines</b>: nectarine = peach without gene for hairy skin. Usually are harvested without being
        fully ripe. The fruits ripen after harvesting but temperature must be
        kept above 50 degrees at all times or chilling injury occurs & prevents proper ripening.</li>
    <ul>
        <li><u>Purchase</u> - to avoid damaged fruit, pick those that are already ripe. Choose by background color,
            not blush (should be uniform white
            without any green for white peaches, cream without any white/green for yellow peaches), & make sure the
            flesh has a little give when squeezed. Red flesh (blood peaches) > white flesh > yellow in
            nutrition & sweetness. Skin is the most nutritious part but high in contaminants so go organic.</li>
        <li><u>Storage</u> - store at room temperature.</li>
	</ul><br>

    <li><b>Apricots</b>: more nutritious than peaches or nectarines.</li>
    <ul>
        <li><u>Purchase</u> - purchase in middle of summer to get ripe ones. Look for those that are plump,
            tight skinned, yellow/orange in color, & with slight give when pressed.</li>
        <li><u>Storage</u> - store at room temperature.</li>
	</ul><br>

    <li><b>Cherries</b>:</li>
    <ul>
        <li><u>Purchase</u> - look for the Bing or Brooks varieties which are high in anthocyanins. Sour cherries (a
            different type) may reduce recovery time from strenuous exercise. Fresh fruit is firm, shiny,
            free of denting/bruising; best indicator is stem - bright green & firm. High in pesticides so go organic.</li>
        <li><u>Storage</u> - cherries have rapid respiration rate so buy fresh, refrigerate immediately in
            microperforated bag in crisper drawer, & consume quickly.</li>
	</ul><br>

    <li><b>Plums</b>: high in vitamin C. Prunes (dried plums) are high in soluble & insoluble fiber.</li>
    <ul>
        <li><u>Purchase</u> -  buy red, purple, blue or black plums. Plums are more likely to be ripe in July (ripe plums have slight
            give when pressed). Purchase dried plums that haven't been infused with sugar or corn syrup.</li>
    </ul>
</ul>

<h2><span style="color:#660066;">Savory Plum Sauce Recipe</span></h2>
Prep Time: 5 minutes  |  Cook Time: 30 minutes  |  Yield: 1.5 cups<br><br>
<u>Ingredients</u><br>
1 clove garlic<br>
12 red, blue, or black plums (pitted & cut in half)<br>
1/2 cup red wine<br>
1 tablespoon unsalted butter<br>
1/8 teaspoon salt<br>
1/8 teaspoon ground cloves<br>
1/2 teaspoon ground cinnamon<br>
1 tablespoon honey or firmly packed dark brown sugar<br><br>

<u>Preparation</u><br>
Push the garlic through a garlic press & set aside. Combine the plums & red wine in a medium saucepan, then simmer
uncovered for 10 minutes. Cover & simmer for an additional 10 minutes. Add the reserved garlic & remaining
ingredients, cover, and simmer for another 10 minutes.
Add a tablespoon or 2 of water if needed to maintain pourable consistency.
Spoon into a blender & pulse 10 times until the peels are finely chopped. Serve warm.

</body>
</html>