<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tomatoes</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
<h1><span style="color:red;">Tomatoes</span></h1>
<p>Active compound is lycopene, which protects from UV radiation.</p>

<ul>
    <li><u>Purchase</u> - when purchasing any kind of tomato, look for those with the darkest red color =
        highest in lycopene. Tomatoes are low GI fruits, and the
        smaller the tomatoes the greater the sweetness & nutrition. <b>Grape tomatoes</b> are high in nutrition, but when
        purchasing make sure none of the tomatoes are shriveled (they lose water easily). <b>Currant tomatoes</b> are
        most nutritious, followed by grape, then <b>cherry</b>. Canned tomatoes & pasta sauces are highly
        flavorful & nutritious (heat used in canning increases lycopene) but avoid containers with BPA</li>
    <li><u>Storage</u> - do <b>not</b> store tomatoes in the fridge (reduces flavor & aroma).
        Keep at room temperature, stem side up, and eat within a few days.</li>
    <li><u>Preparation</u> - eat tomatoes whole (skin, seeds, and flesh); cooking increases
        BA of lycopene (the longer the better).</li>
</ul>
</body>
</html>