<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watermelon</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
<h1><span style="color:red;">Watermelon</span></h1>
<p>Mostly water so low nutrient content. Red color comes from lycopene (dark red varieties are one of the best sources of lycopene).</p>

    <ul>
        <li><u>Purchase</u> - to select a ripe melon (best flavor & nutrition), find fruit that is beginning to lose
            its gloss; also, examine the ground spot (part in contact with ground), which
            should be yellow, not green or white. When you tap, listen for a hollow sound, not a dull thump.</li>
        <li><u>Storage</u> - after purchasing, keep on the counter (at room temperature) to increase nutrient content.</li>
		<li><u>Preparation</u> - serve chilled.</li>  
	</ul>
</body>
</html>